<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welkom bij De Pits <%= @user.first_name %>!</h1>
    <p>
      Bedankt voor jou bestelling!
    </p>
    <p>
      We sturen je een e-mail wanneer je bestelling klaar staat om af te halen
    </p>
    <p>Een heel fijne dag!</p>
  </body>
</html>
