<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>
    <p>
      Je bestelling is klaar! Kom naar beneden om het op te halen
    </p>
    <p>

    </p>
    <p>Eet smakelijk!</p>
    <br>
    <br>
     <h1></h1>
    <p>
      Your order is ready for pickup. You can claim it at our restaurant downstairs
    </p>
    <p>

    </p>
    <p>Enjoy your meal!</p>
  </body>
</html>
