<%= link_to "New menu item", new_menu_item_path %>

<% @menu_items.each do |menu_item| %>
  <div class="menu-card">
    <h1><%= menu_item.name %> </h1>
    <h1><%= menu_item.price %> </h1>
    <p><%= menu_item.description %> </p>
  </div>
  <!-- TODO: QUANTITY FIELD  -->
  <!-- TODO: ADD TO CART BUTTON  -->
<% end %>


