      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="row">
            <div class="col-sm-6">
              <%= image_tag "lepelh.svg" %>
            </div>

            <div class="col-sm-6">
              <i class="address"></i>
              <div class="text-left">
                <p>
                <span><strong>Address:</strong></span> <br>
                <span>Pand Zuid</span><br>
                <span>IJsbaanpad 9</span><br>
                <span>Amsterdam Zuid</span>
                </p>
                <p><strong>Open:</strong><br>09.00 - 16.00</p>
              </div>
              <div class="text-left">

              <i class="phone"></i>
              <span><strong>Tel:</strong> <br> 06 28554714</span>
              </div>
              <br>
              <p class="text-left">
                <strong>Email:</strong> <br>
                <a href="@depitskeuken.nl" class="footer-link">@depitskeuken</a>
              </p>
            </div>
              </div>
            </div>
          </div>

          <div class="row">
           <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <span>© 2020 GonzoCorp.</span>
          </div>
      </div>
    </footer>
