      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="row">
            <div class="col-sm-6">
              <%= image_tag "lepelh.svg" %>
            </div>

            <div class="col-sm-6">
              <i class="address"></i>
              <div class="text-left">
                <p>

                <span><strong>Address:</strong></span> <br>
                <span>Pand Zuid</span>
                <span>IJsbaanpad 9-11-13</span>
                <span>Amsterdam Zuid.</span>
                </p>
                <p><strong>Daily open from:</strong> 09.00 - 16.00</p>
              </div>
              <div class="text-left">

              <i class="phone"></i>
              <span><strong>Telefoonnummer:</strong> <br> 06 – 28 55 47 14</span>
              </div>
              <p class="text-left">
                <strong>Email:</strong> <br>
                <a href="@depitskeuken.nl" class="footer-link">@depitskeuken</a>
              </p>
            </div>


              </div>
            </div>

          </div>


          <div class="row">
           <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
             <p class="text-left">© 2020 Web Development Team GCMP.</p>
          </div>
      </div>
    </footer>

