<div class="blue-body" class = "order-index">
    <%= render 'shared/navbar' %>
    <%  if @orders.none? { |odr| odr.status == "not ready" } && @orders.none? { |odr| odr.status == "awaiting pick-up" } %>
    <h3 class="medium-title">No orders!</h3>
    <% else %>
    <%  if @orders.none? { |odr| odr.status == "not ready" } %>
    <% else %>
    <h3 class="medium-title">Not Ready</h3>
      <div id="unfinished-orders">
        <% @orders.select do |order| order.status == "not ready" end.each do |order| %>
          <%= render 'order', order: order %>
        <% end %>
      </div>
    <% end %>

    <% if @orders.none? { |odr| odr.status == "awaiting pick-up" } %>
    <% else %>
    <h3 class="medium-title">Awaiting pickup</h3>
    <% @orders.select do |order| order.status == "awaiting pick-up" end.each do |order| %>
        <%= render 'order', order: order %>
    <% end %>
    <% end %>
    <% end %>
</div>

<script>
</script>
