<div class="blue-body">
  This is a home page and we're not using it.

<%= link_to "press here to sign out", destroy_user_session_path, method: :delete %>
<%= link_to "press here to sign in", new_user_session_path %>


</div>
