<div class="blue-body">
<%= link_to "Notice anything wrong? Have any questions? Click here to send us an email.", "mailto: gonzalofranco@me.com" %>
<%= link_to "Back to dashboard", dashboard_path, class: "btn btn-dark"%>
</div>
