.blue-body {
  padding-top: 64px;
  background-color: $background-blue;
  text-align: center;
  display: flex;
  height: auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.red-body {
  padding-top: 64px;
  background-color: $background-red;
  text-align: center;
  display: flex;
  height: auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.medium-title {
  font-family: $funky-font;
  color: $blue-font;
  background-color: $black-font-background;
}

.blue-title-md {
  font-family: $funky-font;
  color: $blue-font;
  font-size: 18px;
}

.blue-title-sm {
  font-family: $funky-font;
  color: $blue-font;
  font-size: 14px;
}

.black-title-sm {
  font-family: $funky-font;
  color: $black;
  font-size: 14px;
}

hr{
  margin: .5rem 0 .5rem 0;
}
