

.footer{
    line-height: 20px;
    background-image: image-url("background.jpg");
    background-size: cover;
    display: flex;
    font-family: sans-serif;
    padding-top: 15px;
}

footer img {
  width: 100%;
}

footer p.text-left {
  text-align: left;
}

footer p.text-center {
  margin-top: 80px;
  width: 100%;
  margin-bottom: 0;
  line-height:0.8;
}

footer a {
  color: blue;
  text-decoration: underline;
  transition: color 400ms ease;
}

footer a:hover {
  color: rgba(255,0,0,1);
}

footer .footer-icons {
  width: 100%;
  font-size: 30px;
  margin: 30px 0;
  text-align: left;

}

