

.footer{
    //   position: absolute;
    // bottom: 0;
    width: 100%;
    // height: 200px;
    line-height: 20px;
    // background-color: blue;
    background-image: image-url("background.jpg");
    background-size: cover;
    display: flex;
    color: black;
    font-family: sans-serif;
    font-size:16px;
}

footer img {
  width: 171px;
}

footer {
    padding-top: 15px;

}
footer p.text-left {
  text-align: left;
}

footer p.text-center {
  margin-top: 80px;
  width: 100%;
  margin-bottom: 0;
  line-height:0.8;
}

footer a {
  color: blue;
  text-decoration: underline;
  transition: color 400ms ease;
}

footer a:hover {
  color: rgba(255,255,255,0.8);
}

footer .footer-icons {
  width: 100%;
  font-size: 30px;
  margin: 20px 0;
  text-align: left;

}

