.menu-card {
  background: white;
  box-shadow: 0 0 2vw rgba(0,0,0,0.2);
  padding: 1vw;
  margin: 1vh;
  height: 200px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  .menu-image-container {
    height: 100%;
    overflow: hidden;
    .menu-item-img {
      height: 100%;
    }
  }

  .menu-text-container {
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    max-width: 40%;
    max-height: 25vh;
    flex-direction: column;

    .menu-title{
      max-height: 12.5vh;
      text-align: left;
    }

    .menu-item-description{
      max-height: 12.5vh;
      text-align: left;
    }
    .menu-item-price{
      justify-content: center;
      text-align: left;
      color: $green;
    }
  }

  .add-to-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 1vw;
    .add-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.btn-icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

.btn-icon:before {
  content: "\f217";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#order_item_integer {
  text-align: center;
}
