#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 1s; /* Transition effect when sliding down (and up) */
  z-index: 1000;
}
////////ABOVE/////////
////GONZALO/NAVBAR////
///////DYNAMIC////////

.kitchen-status {
  padding: 0;
  margin: 0;
}

.navbar-gfr {
  background: white;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  padding: 5px 0 5px 0;
  width: 150px;
}

.navbar-left img {
  width: 50px;
}

.navbar-center {
  width: 100%;
  height: 100%;
  padding-left: 2vw;
  display: flex;
  justify-content: left;
  margin-top: auto;
  margin-bottom: auto;
}

.center-interior {
  display: flex;
  font-family: 'Alata', sans-serif;
}

.navbar-right {
  padding: 0 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#navbar .btn {
  white-space: nowrap;
  margin-right: 5px;
}
