/* For Phone */
@media screen and (max-width: 715px) {

.order-desktop {
  display: none;
}

.order-mobile {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}
    .confirm-header {
        font-family: $funky-font;
        color: $blue-font;
        font-size: 2rem;
        text-align: left;
        padding-left: 10vw;
    }

    .order-card {
        background: white;
        box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
        margin-top: 3vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

    }



    .order-id {
        padding-left: .75vw;
        padding-right: .75vw;
    }

    .customer-details {
        text-align: left;
        margin: 1vh 1vh;
    }

    .order-management {
        min-width: 50vw;
        margin: 1vh 1vh
    }

    .order-tally {}

    .order-details-checkout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tally-id {
      margin-right: 3vw;
    }

    .tally-item {

    }

    .tally-price {
        margin-left: auto;
        color: $green;
    }
      .total-price {
        color: $green;
      }

      .add-more {
        text-decoration: underline;
      }

.white-font {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

    .trashcan {
      margin-left: 1.5vw;
      margin-right: 1.5vw;
      color: black;
    }

.tally-hr {
  border-top: 2px solid transparent;
}

.total-hr {
  border-top: 2px solid transparent;
}


.order-txt-area {
width: 100%;
}

.form-group.select.optional.order_pickup_time.form-group-valid {
display: flex;
flex-direction: row;
margin-top: 3vh;
}


}



/* For Laptop */
@media screen and (min-width: 715px) {

.order-mobile {
  display: none;
}

    .order-card {
        background: white;
        box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
        padding: 1vw;
        margin: 1vh;
        min-height: 200px;
        min-width: 80%;
        display: flex;
        justify-content: space-between;
        text-align: center;

    }

    .order-id {
        padding-left: .75vw;
        padding-right: .75vw;
    }

    .customer-details {
        text-align: left;
    }

    .customer-details {
        text-align: left;
        padding-left: .75vw;
        padding-right: .75vw;
    }

    .order-management {
        min-width: 50vw;
        padding-left: .75vw;
        padding-right: .75vw;

    }

    .order-tally {}

    .order-details-checkout {
        display: flex;
        flex-direction: row;
    }

      .order-details-total {
        display: flex;
        flex-direction: row;
        border: 1px solid red;
    }
     .tally-item-total {
    margin-left: 5vw;
    position: absolute;
    border: 1px solid red;
    }


    .tally-item {
        margin-left: 5vw;
        position: absolute;
    }

    .tally-id {}

    .tally-price {
        margin-left: auto;
        color: $green;
    }

    .total-price {
        color: $green;
      }

    .add-more {
        text-decoration: underline;
      }

       .trashcan {
      margin-left: 1.5vw;
      margin-right: 1.5vw;
      color: black;
    }


}
